<% layout('/layouts/boilerplate') %>

<body>
    <h1>All Listings</h1>
    <form method="GET" action="/listings/new">
        <button>Create List</button>
    </form>
    <% for(Listing of allListings){ %>
        <ul>
            <a href="/listings/<%= Listing._id %>"><li><%= Listing.title%></li></a>
        </ul>
    <% } %>
</body>


